*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    z-index: 99;
}
.logo{
    font-size: 2em;
    margin-right: 100px;
    color: white;
    user-select: none;
}
.navigation {
    position: relative;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
}
.navigation ::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color:white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:white;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btn:hover {
    background-color: white;
    color: green;
}
.tech{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tech .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: lightgray;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.login-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid white; 
}
.login-box label{
    position: absolute;
    top: 50%;
    right:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: .5s;
}
.login-box input{
    width: 100%;
    height: 50px;
    background: fixed;
    border: none;
    outline: none;
    font-size: 1em;
    color:black;
    padding:0 35px 0 5px;
}